.mainbox, .container, html, body, main, app-root{
  height: 100%;
  margin: 0;
  overscroll-behavior-y: contain;
}

body {
  background: #aaa;
}

.routerActions{
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.routerActions a{
  font-size: 2rem;
  color: #fff;
}
